[user]
	name = #TODO
	email = #TODO

[core]
	# Use Emacs in console mode as default editor
	editor = emacs -nw

	# Don't consider trailing space change as a cause for merge conflicts
	whitespace = -trailing-space

	# On a Linux system that uses LF line endings (OxOA, \n), you don’t
	# want Git to automatically convert them when you check out files;
	# however, if a file with CRLF endings accidentally gets introduced,
	# Git will convert CRLF to LF on commit but not the other way around
	autocrlf = input

	# Warn about whitespace issues: trailing  whitespaces and tab
	# indentation in a portion of a line.
	# Git will detect and try to color issues so you can fix them when:
	#   - Run a git diff command
	#   - Apply patches with git apply.
	#   - Use git rebase command
	whitespace = warn,trailing-space,tab-in-indent
	# Enable diff-so-fancy. Put an extra emphasis on the changed parts.
	pager = diff-so-fancy | less --tabs=4 -RFX
	excludesfile = $HOME/.gitignore_global

[pager]
	# Pre-seed your less pager with a search pattern, move between files
	# with n/N keys:
	# diff = diff-so-fancy | less --tabs=4 -RFX --pattern '^(Date|added|deleted|modified): '

[color]
	# Enable colors in color-supporting terminals
	ui = auto

[push]
	# Push the current branch to its upstream branch but refuses to push if
	# the upstream branch’s name is different from the local one.
	default = simple

[alias]
	# My own shortcuts
	co = checkout
	s = status -s
	st = status
	rz = reset --hard HEAD
	rzrc = reset --hard baseline/rc
	lol = log --graph --pretty=tformat:'%C(yellow)%h%Creset -%C(auto)%d%Creset %s - %C(magenta)%an%Creset %C(green dim)- %ar%Creset'
	lola = log --graph --pretty=tformat:'%C(yellow)%h%Creset -%C(auto)%d%Creset %s - %C(magenta)%an%Creset %C(green dim)- %ar%Creset' --all
	can = commit --amend --no-edit
	# Display the name of the current branch
	cbr = "!git branch | grep \"^\\*\" | cut -d \" \" -f 2"
	# For a raw diff to save as a patch for emailing or later application
	# which can then be used as `git patch > changes.patch`
	patch = !git --no-pager diff --no-color

[merge]
	tool = meld

[log]
	# Use abbrev SHAs whenever possible/relevant instead of full 40 chars
	abbrevCommit = true

[diff]
	# Following options are useless as long diff-so-fancy is used.
	# Use better, descriptive initials (c, i, w) instead of a/b.
	mnemonicPrefix = true
	# Show renames/moves as such
	renames = true
	# Better diffs with blank line boundaries for hunks.
	compactionHeuristic = true

[tag]
	# Sort tags as version numbers whenever applicable, so 1.10.2 is
	# AFTER 1.2.0.
	sort = version:refname

[help]
	# Git will give you 1.5 second to change your mind before executing the
	# autocorrected command.
	autocorrect = 15

[fetch]
	# Fetch will automatically remove any tracking references that no
	# longer exist.
	prune = true

[interactive]
	# Diffs shown by the interactive patch-staging tool also uses
	# diff-so-fancy
	# WARNING: troubles with UBUNTU 18
	diffFilter = diff-so-fancy | less --tabs=4 -RFX

# NOTES
#   - diff-highlight
#     - https://github.com/git/git/tree/master/contrib/diff-highlight
#     - diff-highlight dir is in ~/.git/ with chmod+x
#     - export PATH="$PATH::$HOME/.git/diff-highlight"
#   - diff-so-fancy
#     - https://github.com/so-fancy/diff-so-fancy
#     - diff-so-fancy dir in ~/.git/ with chmod+x
#     - export PATH="$PATH:$HOME/.git/diff-so-fancy"

# Useful links:
#   - https://jason.pureconcepts.net/2017/03/stop-aliasing-core-git-commands/
#   - https://git-scm.com/book/tr/v2/Customizing-Git-Git-Configuration
#   - https://gist.github.com/tdd/470582
#   - https://github.com/blog/2188-git-2-9-has-been-released#beautiful-diffs
